<h2 style="text-align:center">あなたの冷蔵庫、見守ります</h2>
<%= link_to "ログイン", new_user_session_path, class: "btn btn-info" %>
<%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, method: :post, class: "btn btn-success" %>
