.memos-container {
  padding: 30px 30px;
}

.botton {
  text-align: right;
}

.split {
  display: table;
  width: 100%;
}

.split-item {
  display: table-cell;
  padding: 30px;
  width: 30%;
}

.split-left {
  float:left;
  position: relative;
}

.split-left__inner {
  height: 50px;
  position: fixed;
  width: 30%;
}

.split-right__inner {
  height: 8000px;
  width: 100%;
}