th,
td {
  vertical-align: middle !important;
}

span.alort {
  color: red;
}

span.warning {
  color:#de8500;
}

span.near_deadline {
  color: #de8500;
}

.mb5 {
  margin-bottom: 1em;
}

.mgr-10 {
  padding-right: 0.3rem;
  padding-left: 0.3rem;
}

.botton {
  text-decoration: none;
  color: white;
}